<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>!!!!!!!!!Result!!!!!!!!!</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
<header id="header" class="Header" role="navigation">
    <h1 class="Header__header">
        画像圧縮結果
    </h1>
    <button class="js-sort-button Header__button">
        並び変更
    </button>
</header>
<main id="main" class="Main" role="main">
    <section class="Info">
        <h2 class="Info__header">
            総数: <%= fileinfo.length %> 平均圧縮率: <%= avarageRatio %>%
        </h2>
    </section>
    <section class="Diff">
        <article class="Diff__article">
            <ul class="js-list Diff__list">
            <% fileinfo.forEach(({ filename, sourceSize, destSize, compressRatio }) => { %>
                <li class="Diff__cell">
                    <h3 class="Diff__cell-header <%= compressRatio > 85 ? '-light' : compressRatio > 50 ? '-middle' : '-heavy' %>">
                        <%= filename %>
                        <span class="Diff__cell-header-info">
                           <%= compressRatio %>% (<%= sourceSize %> → <%= destSize %>)
                        </span>
                    </h3>
                    <div class="Diff__images">
                        <figure class="Diff__before">
                            <img src="_source/<%= filename %>" alt="before" class="Diff__image">
                        </figure>
                        <figure class="Diff__after">
                            <img src="<%= filename %>" alt="after" class="Diff__image">
                        </figure>
                    </div>
                </li>
            <% }) %>
            </ul>
        </article>
    </section>
</main>

<script>
    const statusClassName = '-column';
    const list = document.querySelector('.js-list');
    const button = document.querySelector('.js-sort-button');
    button.addEventListener('click', () => {
        if (list.classList.contains(statusClassName)) {
            list.classList.remove(statusClassName);
        } else {
            list.classList.add(statusClassName);
        }
    });
</script>
</body>
</html>
