<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header id="header" class="Header" role="navigation">
    <h1 class="Header__header">
        画像圧縮結果
    </h1>
</header>
<main id="main" class="Main" role="main">
    <section class="Info">
        <h2 class="Info__header">
            総数: <%= fileinfo.length %>
        </h2>
    </section>
    <section class="Diff">
        <article class="Diff__article">
            <ul class="Diff__list">
            <% fileinfo.forEach(({ filename, sourceSize, destSize, compressRatio }) => { %>
                <li class="Diff__cell">
                    <h3 class="Diff__cell-header">
                        <%= filename %>: <%= compressRatio %>% (<%= sourceSize %> → <%= destSize %>)
                    </h3>
                    <div class="Diff__images">
                        <figure class="Diff__before">
                            <img src="<%= sourcePath + filename %>" alt="before" class="Diff__before-image">
                        </figure>
                        <figure class="Diff__after">
                            <img src="<%= filename %>" alt="after" class="Diff__after-image">
                        </figure>
                    </div>
                </li>
            <% }) %>
            </ul>
        </article>
    </section>
</main>
</body>
</html>
